.container {
    text-align: center;
    padding: 0;
}
.text {
    display: inline-block;
    font-family: 'Baloo 2', sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
    align-items: center;
    width: 400px;
    height: 650px;
    margin-top: 120px;
    margin-right: 100px;
    margin-left: 100px;
}
.register {
    vertical-align: top;
    display: inline-block;
    font-family: 'Baloo 2', sans-serif;
    font-size: 20px;
    width: 400px;
    height: 600px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 120px;
    background-color: #1f1529;
    border: 0px solid #00FF0C;
    border-radius: 30px;
    box-shadow: 2px 2px 10px #333333;
}
.input{
    font-family: 'Baloo 2', sans-serif;
    width: 300px;
    height: 38px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 20px;
    background-color: white;
    border: 0px solid #00FF0C;
    text-align: center;
    outline: 0 !important;
}
.register_text {
    color: white;
    font-size: 30px;
    margin-top: 10px;
}
.button {
    font-family: 'Baloo 2', sans-serif;
    height: 50px;
    width: 180px;
    border-radius: 30px;
    padding-top: 2.5px;
    margin-top: 20px;
    background-color: #191121;
    color: white;
    border: 2px solid #00FF0C;
    font-size: 25px;
    margin-bottom: auto;
    cursor: pointer;
    outline: 0 !important;
}
.button:hover {
    background-color: #00FF0C;
    color: #191121;
}